numpy
pandas
scikit-learn
xgboost
matplotlib
seaborn
tqdm
jupyter
jupyterlab
notebook

torch
torchvision
torchaudio

tensorflow
keras

mlflow
fastapi
uvicorn
pydantic

streamlit
python-dotenv
pyyaml

requests
plotly
